
body {
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif; 
}

.container{
	position: relative;
}
/* Titels */
.oops{
	position: relative;
	top: 50px;
	left:100px;
}


/* gif */
.giphy{
	max-width: 480px;
	margin: 0 auto;
	position: relative;
	top: 50px; 
}



/* home tekst */
.lost{
	position: relative;
	top: 50px;
	text-align: center;
	
	/*border-style: solid;
	border-width: 2px;
	border-color: pink; */
	padding: 0;
	padding-bottom: 20px;

	
}


}
/* home button */
.home {
  	position: absolute;
	border: none;
  	background-color: none;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: alias;
	margin: 0 auto;


}


/* The animation code
@keyframes Home {
  from {background-color: white;}
  to {background-color: pink;}
}*/

/* The element to apply the animation to 
.Home {
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: Home;
  animation-duration: 4s;
*/
